// // 媒体查询：当用户系统主题为暗色时 基于浏览器的主题色
// @media (prefers-color-scheme: light) {
//   body {
//     --shiki-custom-brr-mini: 3px;
//     --shiki-custom-brr: 5px;
//     --shiki-custom-blur: 10px;
//     --shiki-code-header-bg: #fafafa;
//     --shiki-code-header-span-color: #575757;
//   }
// }

// // 媒体查询：当用户系统主题为暗色时
// @media (prefers-color-scheme: dark) {
//   body {
//     --shiki-custom-brr-mini: 3px;
//     --shiki-custom-brr: 5px;
//     --shiki-custom-blur: 10px;
//     --shiki-code-header-bg: #272727;
//     --shiki-code-header-span-color: #fafafa;
//   }

//   .shiki,
//   .shiki span {
//     color: var(--shiki-dark) !important;
//     background-color: var(--shiki-dark-bg) !important;
//     /* 可选，用于定义字体样式 */
//     font-style: var(--shiki-dark-font-style) !important;
//     font-weight: var(--shiki-dark-font-weight) !important;
//     text-decoration: var(--shiki-dark-text-decoration) !important;
//   }
// }

body {
  --shiki-custom-brr-mini: 3px;
  --shiki-custom-brr: 5px;
  --shiki-custom-blur: 10px;
  --shiki-code-header-bg: #fafafa;
  --shiki-code-header-span-color: #575757;
}

body.dark {
  --shiki-custom-brr-mini: 3px;
  --shiki-custom-brr: 5px;
  --shiki-custom-blur: 10px;
  --shiki-code-header-bg: #272727;
  --shiki-code-header-span-color: #fafafa;
}

body.dark .shiki,
body.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* 可选，用于定义字体样式 */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.shiki {
  position: relative;
}

.markdownProvider {
  background-color: var(--el-fill-color);
  color: black;
  padding: 5px 10px;
  border-radius: var(--shiki-custom-brr);

  /* 表格整体边框 */
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }

  /* 表头样式 */
  th {
    background-color: white;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  /* 表格行样式 */
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  tbody {
    tr:nth-child(even) {
      background-color: white;
    }

    tr:nth-child(odd) {
      background-color: var(--el-fill-color);
    }

    tr:hover {
      background-color: #ddd;
    }
  }

  code:not(pre code) {
    background-color: #8481816a;
  }

  pre,
  code {
    text-shadow: none !important;
    // 设置代码字体样式
    span {
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      tab-size: 4;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
    }
  }

  // .pre-md {
  //     transition: height 0.2s ease-in-out;
  //     height: 42px;
  //   }

  pre.is-expanded {
    height: auto !important;
    code {
      span {
        display: inline-block;
      }
    }
    .markdown-language-header-toggle-expand {
      transform: rotate(0deg) !important;
    }
  }

  pre {
    position: relative;
    border-radius: var(--shiki-custom-brr);
    .markdown-language-header-div {
      position: sticky;
      top: 0;
      z-index: 999;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 5px 5px 8px;
      border-radius: var(--shiki-custom-brr-mini);
      -webkit-backdrop-filter: blur(var(--shiki-custom-blur));
      backdrop-filter: blur(var(--shiki-custom-blur));
      margin: 0 0 10px 0;
      box-sizing: border-box;
      background-color: var(--shiki-code-header-bg);
      span {
        box-shadow: none !important;
        background-color: transparent !important;
      }

      .markdown-language-header-span {
        font-size: 14px;
        font-family: sans-serif;
        color: var(--shiki-code-header-span-color) !important;
        font-weight: bold !important;
        background-color: transparent !important;
        -webkit-user-select: none;
        user-select: none;
        &:hover {
          cursor: pointer !important;
        }
      }

      .markdown-language-header-space-start,
      .markdown-language-header-space {
        min-width: 150px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .markdown-language-header-space-start {
        justify-content: flex-start;
      }

      .shiki-header-button {
        border: 1px solid transparent;
        border-radius: var(--shiki-custom-brr);
        background-color: transparent !important;
        width: fit-content !important;
        padding: 5px;
        opacity: 1;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        .el-icon {
          font-size: 16px;
        }
        .el-icon,
        span {
          background-color: transparent !important;
          color: var(--shiki-code-header-span-color) !important;
        }
        transition:
          border-color 0.25s,
          background-color 0.25s,
          opacity 0.25s;
        &:hover {
          color: var(--el-color-primary) !important;
          .el-icon,
          span {
            color: var(--el-color-primary) !important;
          }
        }
      }
      // 按钮图标的大小
      .shiki-header-button {
        span {
          width: 16px;
          height: 16px;
        }
      }
      .shiki-header-button-expand {
        span {
          width: 12px;
          height: 12px;
        }
      }

      .markdown-language-header-toggle-expand {
        margin: 2px 0 0 0;
        transition: all 0.2s ease-in-out;
        transform: rotate(-90deg);
      }
    }

    code {
      flex: 1;
      box-sizing: border-box;
      padding: 8px;
      width: 100%;
      overflow: auto;
      span {
        display: none;
      }

      &::-webkit-scrollbar {
        z-index: 1000;
        width: 7px;
        height: 7px;
      }

      &::-webkit-scrollbar-track {
        background: rgba(130, 130, 130, 0.2);
        border-radius: 3px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.016);
        -webkit-backdrop-filter: blur(var(--shiki-custom-blur));
        backdrop-filter: blur(var(--shiki-custom-blur));
      }

      &::-webkit-scrollbar-thumb {
        background: var(--el-color-primary-light-3);
        border-radius: 3px;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.042);
        -webkit-backdrop-filter: blur(var(--shiki-custom-blur));
        backdrop-filter: blur(var(--shiki-custom-blur));
      }

      &::-webkit-scrollbar-thumb:hover {
        background: var(--el-color-primary);
        cursor: pointer;
        -webkit-backdrop-filter: blur(var(--shiki-custom-blur));
        backdrop-filter: blur(var(--shiki-custom-blur));
      }
    }
  }
}
