.elx-run-code-dialog,
.elx-run-code-drawer {
  width: 800px !important;
}

// 媒体查询

@media (max-width: 768px) {
  .elx-run-code-dialog,
  .elx-run-code-drawer {
    width: 100% !important;
  }
}

.elx-run-code-dialog {
  background-color: var(--shiki-code-header-bg);
  .el-dialog__body {
    overflow: auto;
    border-radius: var(--shiki-custom-brr);
  }
}

.elx-run-code-drawer {
  background-color: var(--shiki-code-header-bg);
  .el-drawer__body {
    overflow: auto;
    border-radius: var(--shiki-custom-brr);
  }
  .el-drawer__header {
    margin-bottom: 0 !important;
  }
}

.elx-run-code-dialog-view {
  .el-dialog__body {
    border: 1px solid transparent !important;
  }
}

.elx-run-code-dialog-view {
  .el-drawer__body {
    border: 1px solid transparent !important;
  }
}
